<head>

  <!-- Bootstrap Core CSS -->
  <link href="styles/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- MetisMenu CSS -->
  <link href="styles/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="styles/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="styles/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<div class="container-fluid">
  <h1>About the creator</h1>
  <div class="row">
    <div class="col-sm-4 marta"><img src="/images/Marta.png"></div>
    <div class="col-sm-8 aboutMarta"><p>Lorem ipsum dolor sit amet, deleniti maiestatis percipitur eam ex, amet esse inani per ne. Mel ei partem nostrud invidunt, enim hinc nam te. Dico eros sensibus in eam. Pri esse vituperata at. Has no aperiri assueverit, doming elaboraret pro at. In habeo inimicus volutpat pri, ei vix delectus quaerendum, ei enim esse admodum nam.

      Brute consequuntur ad duo, ea solet dolores recteque mei. Eos cu vidit reprehendunt, vis suas vero rationibus ex. Petentium dissentiunt pro at, pri quidam moderatius ut. Bonorum signiferumque ut duo. Eruditi sensibus interpretaris te sed, tacimates volutpat est ex. Ex sea reque noster deleniti, ex erant iriure accusata sea.

      Pro ad doctus fuisset definiebas, cu causae labores appareat sea. Eos ipsum vituperata dissentiunt id, solet pertinacia dissentiet ea pro. Modo intellegat te usu, usu et solum summo. Nec ei congue tritani. An eum sumo maluisset repudiare, feugait assueverit te sed. Lorem partem tractatos vel ei, quot constituam dissentiunt ne mei.

      Ea vel molestie voluptatibus, et novum ceteros ius, te epicuri invidunt antiopam mea. Eu sed soleat maiestatis sententiae, pro choro animal ne. Alienum tacimates expetendis eos an, zril insolens expetenda id qui, rebum persius inermis ex pri. Ea eum accusamus urbanitas theophrastus, nec dico case ne, ei has quod eripuit. Rebum moderatius signiferumque in eum, pri solum utamur argumentum ei. Cum in ludus patrioque, an aeque sadipscing vis.

      Cu illum praesent electram vim. An sed cibo persequeris, erroribus sadipscing appellantur eum ea, ne vel noster iriure. Id facer aliquid his, ridens interesset an mel. Ut duo utinam labitur hendrerit, sea erat sale vituperata id, eum nostrud facilisi intellegam ex. Mucius tibique id eum. Etiam tibique postulant at ius, libris diceret epicurei vim an.</p>
  </div>
</div>
</div>
</body>
