<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-46 col-xs-12">
    <div class="just-txt-div">
      <img src="/images/Marta.png" class="img-responsive" />
    </div>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-46 col-xs-12">
    <div class="just-txt-div">
      <p>
        Lorem ipsum dolor sit amet, <strong> consectetur adipiscing elit.</strong> Mauris sagittis felis dolor vitae. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Mauris sagittis felis dolor vitae. Lorem ipsum dolor sit amet, consectetur <strong> consectetur adipiscing elit.</strong>        felis dolor vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae. Lorem ipsum dolor sit amet, consectetur
        <strong> consectetur adipiscing elit.</strong> felis dolor vitae. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Mauris sagittis felis dolor vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis
        felis dolor vitae.
      </p>
    </div>
  </div>
</div>