<!--<div class="container ">
  <div class="row">
    <div class="just-txt-div text-center">
      <h3><img src="/images/rames2.png"></h3>
    </div>
  </div>
</div>-->

<div ng-app="ramesApp" ng-controller="AboutCtrl">
    <ul class="nav nav-tabs">
      <li ng-repeat="category in categories">
        <a href="#/about/#{{currentItem}}" ng-click="setTempItem(category.ID)">{{category.category}}</a>
      </li>
    </ul>
    <div id="{{currentItem}}" class="tab-content">
        <div class="tab-pane active" role="tabpanel">
            {{currentItem}}
        </div>
    </div>
</div>