<div class="just-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div>If questions arise about the RAMES model, please contact Marta Kristín Lárusdóttir.</div>
                <div>If there are any questions about the website itself please contact Hólmfríður or Jóhanna via the 
                    email address holmfridurge@gmail.com or johannas15@ru.is.</div>                
                <!--<div class="just-txt-div">
                    <h2>Contact Address : </h2>
                    <p>
                        90/567, Raw Street Lane, United States of America,
                        <br /> Pin: 309987-09.
                    </p>
                    <p>
                        <strong>  Call: </strong> +09-890-789-00-900
                    </p>
                    <p>
                        <strong>  E-mail: </strong> info@yourdomain.com
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="just-txt-div">
                    <div class="form-group">
                        <label>Enter Your Email</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Enter Subject </label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Enter query/Feedback</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg">SEND QUERY </button>
                </div>
            </div>-->
        </div>
    </div>
</div>